*.svg
Wireframes/assets/iOS7/Bars.screen
Wireframes/assets/iOS7/Controls.screen
Wireframes/assets/iOS7/Forms.screen
Wireframes/assets/iOS7/Tables.screen
Wireframes/assets/iOS7/Views.screen
Wireframes/assets/iOS7/_preview.screen
Wireframes/assets/iOS7/iPad.screen
Wireframes/assets/iOS7/iPhone.screen
Wireframes/assets/WindowsPhone/WindowsPhone.screen
app/MultiMania/.idea/
backend/.idea/
*/.idea/*
backend/Utilities/Params.php
Thumbs.db
app/MultiMania/app/manifest-merger-alpha-report.txt
app/MultiMania/app/app.iml
app/Google Play Resources/promovideo/wip/Adobe Premiere Pro Auto-Save/
app/Google Play Resources/promovideo/wip/Adobe Premiere Pro Preview Files/
