<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ana.nmct.multimania" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="be.ana.nmct.multimania.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="be.ana.nmct.multimania.data.MultimaniaProvider"
            android:authorities="be.ana.nmct.multimania"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <activity
            android:name="be.ana.nmct.multimania.ui.NewsItemActivity"
            android:label="@string/title_activity_news_item"
            android:parentActivityName="be.ana.nmct.multimania.ui.MainActivity"
            android:theme="@style/AppTheme.TranslucentActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.ana.nmct.multimania.ui.MainActivity" />
        </activity>
    </application>

</manifest>
